*{box-sizing:border-box;margin:0;padding:0px;}
@font-face{
    font-family: 'fangzheng';
    src: url('../font/fangzheng.woff') format('woff');
}
#app {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    min-width: 1200px;
}

*, :after, :before {
    box-sizing: inherit;
}
*, :after, :before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
a, a:hover, body {
    color: #000;
}
body {
    font-family: PingFangSC-Light,Helvetica Neue,Helvetica,STHeiTi,sans-serif!important;
    font-weight: 300;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #000;
    text-align: left;
    background-color: #fff;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
*, :after, :before {
    box-sizing: inherit;
}
*, :after, :before {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: inherit;
}
*, :after, :before {
    box-sizing: border-box;
}